<% 
	include( '_include/_function.ejs' );
	$active = 'compnayprofile';
	$css = ['<link rel="stylesheet" href="/css/company.min.css" />'];
	$scripts = ['<script src="/js/fancybox/fancybox.min.js"></script>'];
	$src = '/img/company/page-shisetsu-print_AKIM-';

%>
<!DOCTYPE html>
<html>
<head>
	<%- include( '_include/head.ejs' ); %>
</head>
<body class="page page--company-facility js-effect">
	<%- include( '_include/header.ejs' ); %>
	<!-- ***** mv -->
	<section class="subpageMv">
		<div class="wrap">
			<h1 class="subpageMv__copy">
                <span class="mask"><span class="mesk__element">生産施設・設備紹介</span></span>
			</h1>
		</div>
	</section>
	<!-- ///// -->
	<div class="breadcrumbSection">
		<div class="wrap">
			<ul class="breadcrumb">
				<li><a href="">TOP</a></li>
				<li><a href="">会社案内</a></li>
				<li><a href="">生産施設・設備紹介</a></li>
			</ul>
		</div>
	</div>
	<main class="mainContent">
		<section class="section section--gallery separateSec">
			<div class="wrap">
                <section class="section__child">
                    <header class="section__index">
                        <h2 class="section__index__text">
                            会社施設
                        </h2>
                    </header>
                    <div class="section__content">
                        <ul class="gallery">
                            <li class="gallery__img">
                                <a data-fancybox href="<%- $src %>001r.jpg" data-caption="なにか文字を入れるのであればこのようにになります。あまり長文は望ましくないです。">
                                    <figure>
                                        <img src="<%- $src %>001r.jpg" width="300" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li class="gallery__img">
                                <a data-fancybox href="<%- $src %>010.jpg" data-caption="なにか文字を入れるのであればこのようにになります。あまり長文は望ましくないです。">
                                    <figure>
                                        <img src="<%- $src %>010.jpg" width="300" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li class="gallery__img">
                                <a data-fancybox href="<%- $src %>012.jpg" data-caption="なにか文字を入れるのであればこのようにになります。あまり長文は望ましくないです。">
                                    <figure>
                                        <img src="<%- $src %>012.jpg" width="300" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li class="gallery__img">
                                <a data-fancybox href="<%- $src %>002r.jpg" data-caption="なにか文字を入れるのであればこのようにになります。あまり長文は望ましくないです。">
                                    <figure>
                                        <img src="<%- $src %>002r.jpg" width="300" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li class="gallery__img">
                                <a data-fancybox href="<%- $src %>018.jpg" data-caption="なにか文字を入れるのであればこのようにになります。あまり長文は望ましくないです。">
                                    <figure>
                                        <img src="<%- $src %>018.jpg" width="300" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li class="gallery__img">
                                <a data-fancybox href="<%- $src %>014.jpg" data-caption="なにか文字を入れるのであればこのようにになります。あまり長文は望ましくないです。">
                                    <figure>
                                        <img src="<%- $src %>014.jpg" width="300" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li class="gallery__img">
                                <a data-fancybox href="<%- $src %>023.jpg" data-caption="なにか文字を入れるのであればこのようにになります。あまり長文は望ましくないです。">
                                    <figure>
                                        <img src="<%- $src %>023.jpg" width="300" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li class="gallery__img">
                                <a data-fancybox href="<%- $src %>027.jpg" data-caption="なにか文字を入れるのであればこのようにになります。あまり長文は望ましくないです。">
                                    <figure>
                                        <img src="<%- $src %>027.jpg" width="300" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li class="gallery__img">
                                <a data-fancybox href="<%- $src %>031.jpg" data-caption="なにか文字を入れるのであればこのようにになります。あまり長文は望ましくないです。">
                                    <figure>
                                        <img src="<%- $src %>031.jpg" width="300" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li class="gallery__img">
                                <a data-fancybox href="<%- $src %>036.jpg" data-caption="なにか文字を入れるのであればこのようにになります。あまり長文は望ましくないです。">
                                    <figure>
                                        <img src="<%- $src %>036.jpg" width="300" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li class="gallery__img">
                                <a data-fancybox href="<%- $src %>038.jpg" data-caption="なにか文字を入れるのであればこのようにになります。あまり長文は望ましくないです。">
                                    <figure>
                                        <img src="<%- $src %>038.jpg" width="300" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li class="gallery__img">
                                <a data-fancybox href="<%- $src %>042.jpg" data-caption="なにか文字を入れるのであればこのようにになります。あまり長文は望ましくないです。">
                                    <figure>
                                        <img src="<%- $src %>042.jpg" width="300" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li class="gallery__img">
                                <a data-fancybox href="<%- $src %>046.jpg" data-caption="なにか文字を入れるのであればこのようにになります。あまり長文は望ましくないです。">
                                    <figure>
                                        <img src="<%- $src %>046.jpg" width="300" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li class="gallery__img">
                                <a data-fancybox href="<%- $src %>048.jpg" data-caption="なにか文字を入れるのであればこのようにになります。あまり長文は望ましくないです。">
                                    <figure>
                                        <img src="<%- $src %>048.jpg" width="300" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li class="gallery__img">
                                <a data-fancybox href="<%- $src %>068.jpg" data-caption="なにか文字を入れるのであればこのようにになります。あまり長文は望ましくないです。">
                                    <figure>
                                        <img src="<%- $src %>068.jpg" width="300" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li class="gallery__img">
                                <a data-fancybox href="<%- $src %>061.jpg" data-caption="なにか文字を入れるのであればこのようにになります。あまり長文は望ましくないです。">
                                    <figure>
                                        <img src="<%- $src %>061.jpg" width="300" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li class="gallery__img">
                                <a data-fancybox href="<%- $src %>071.jpg" data-caption="なにか文字を入れるのであればこのようにになります。あまり長文は望ましくないです。">
                                    <figure>
                                        <img src="<%- $src %>071.jpg" width="300" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li class="gallery__img">
                                <a data-fancybox href="<%- $src %>053.jpg" data-caption="なにか文字を入れるのであればこのようにになります。あまり長文は望ましくないです。">
                                    <figure>
                                        <img src="<%- $src %>053.jpg" width="300" alt="">
                                    </figure>
                                </a>
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="section__child">
                    <header class="section__index">
                        <h2 class="section__index__text">
                            施設
                        </h2>
                    </header>
                    <div class="section__content">
                        <ul class="gallery">
                            <li class="gallery__img">
                                <a data-fancybox href="<%- $src %>064.jpg" data-caption="なにか文字を入れるのであればこのようにになります。あまり長文は望ましくないです。">
                                    <figure>
                                        <img src="<%- $src %>064.jpg" width="300" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li class="gallery__img">
                                <a data-fancybox href="<%- $src %>065.jpg" data-caption="なにか文字を入れるのであればこのようにになります。あまり長文は望ましくないです。">
                                    <figure>
                                        <img src="<%- $src %>065.jpg" width="300" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li class="gallery__img">
                                <a data-fancybox href="<%- $src %>069.jpg" data-caption="なにか文字を入れるのであればこのようにになります。あまり長文は望ましくないです。">
                                    <figure>
                                        <img src="<%- $src %>069.jpg" width="300" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li class="gallery__img">
                                <a data-fancybox href="<%- $src %>075.jpg" data-caption="なにか文字を入れるのであればこのようにになります。あまり長文は望ましくないです。">
                                    <figure>
                                        <img src="<%- $src %>075.jpg" width="300" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li class="gallery__img">
                                <a data-fancybox href="<%- $src %>082.jpg" data-caption="なにか文字を入れるのであればこのようにになります。あまり長文は望ましくないです。">
                                    <figure>
                                        <img src="<%- $src %>082.jpg" width="300" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li class="gallery__img -goshikyu">
                                <a data-fancybox href="<%- $src %>069.jpg" data-caption="なにか文字を入れるのであればこのようにになります。あまり長文は望ましくないです。">
                                    <figure>
                                        <img src="<%- $src %>069.jpg" width="300" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li class="gallery__img -goshikyu">
                                <a data-fancybox href="<%- $src %>075.jpg" data-caption="なにか文字を入れるのであればこのようにになります。あまり長文は望ましくないです。">
                                    <figure>
                                        <img src="<%- $src %>075.jpg" width="300" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li class="gallery__img">
                                <a data-fancybox href="<%- $src %>077.jpg" data-caption="なにか文字を入れるのであればこのようにになります。あまり長文は望ましくないです。">
                                    <figure>
                                        <img src="<%- $src %>077.jpg" width="300" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li class="gallery__img">
                                <a data-fancybox href="<%- $src %>084.jpg" data-caption="なにか文字を入れるのであればこのようにになります。あまり長文は望ましくないです。">
                                    <figure>
                                        <img src="<%- $src %>084.jpg" width="300" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li class="gallery__img">
                                <a data-fancybox href="<%- $src %>085.jpg" data-caption="なにか文字を入れるのであればこのようにになります。あまり長文は望ましくないです。">
                                    <figure>
                                        <img src="<%- $src %>085.jpg" width="300" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li class="gallery__img">
                                <a data-fancybox href="<%- $src %>086.jpg" data-caption="なにか文字を入れるのであればこのようにになります。あまり長文は望ましくないです。">
                                    <figure>
                                        <img src="<%- $src %>086.jpg" width="300" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li class="gallery__img -goshikyu">
                                <a data-fancybox href="<%- $src %>084.jpg" data-caption="なにか文字を入れるのであればこのようにになります。あまり長文は望ましくないです。">
                                    <figure>
                                        <img src="<%- $src %>084.jpg" width="300" alt="">
                                    </figure>
                                </a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>              
		</section>
       
	</main>
		
	<%- include( '_include/footer.ejs' ); %>
</body>
</html>