<% 
	include( '_include/_function.ejs' );
	$active = 'compnayprofile';
	$css = ['<link rel="stylesheet" href="css/company.min.css" />'];
	$src = '/img/company/';
%>
<!DOCTYPE html>
<html>
<head>
	<%- include( '_include/head.ejs' ); %>
</head>
<body class="page page--">
	<%- include( '_include/header.ejs' ); %>
	<!-- ***** mv -->
	<section class="subpageMv">
		<div class="wrap">
			<h1 class="mv__copy">
				会社案内
			</h1>
		</div>
	</section>
	<!-- ///// -->
	<main class="mainContent">
		<section class="subpageIntro">
				AKIMは、カメラモジュール・水晶デバイス・センサデバイスなど電子部品の生産設備を複合的な技術と視点で、計画から開発・運用サポートまでのソリューション型製品として提供しています。
		</section>
		<section class="section section--panels">
			<ul class="panels">
				<li class="panel">
					<figure class="panel__img">
						<img src="<%- $src %>archive-mind.jpg" alt="">
					</figure>
					<div class="button panel__button"><a href="">会社概要</a></div>
				</li>
				<li class="panel">
					<figure class="panel__img">
						<img src="<%- $src %>archive-facility.jpg" alt="">
					</figure>
					<div class="button panel__button"><a href="">会社概要</a></div>
				</li>
				<li class="panel">
					<figure class="panel__img">
						<img src="<%- $src %>archive-technology.jpg" alt="">
					</figure>
					<div class="button panel__button"><a href="">会社概要</a></div>
				</li>
			</ul>
		</section>
	</main>
		
	<%- include( '_include/footer.ejs' ); %>
</body>
</html>