<% 
	include( '_include/_function.ejs' );
	$active = 'compnayprofile';
	$css = ['<link rel="stylesheet" href="css/company.min.css" />'];
	$src = '/img/company/';
%>
<!DOCTYPE html>
<html>
<head>
	<%- include( '_include/head.ejs' ); %>
</head>
<body class="page page--company-mind">
	<%- include( '_include/header.ejs' ); %>
	<!-- ***** mv -->
	<section class="subpageMv js-effect">
		<div class="wrap">
			<h1 class="subpageMv__copy">
				<span class="mask"><span class="mask__element">会社案内</span></span>
			</h1>
		</div>
	</section>
	<!-- ///// -->
	<div class="breadcrumbSection">
		<div class="wrap">
			<ul class="breadcrumb">
				<li><a href="">TOP</a></li>
				<li><a href="">会社案内</a></li>
				<li><a href="">企業理念</a></li>
			</ul>
		</div>
	</div>
	<main class="mainContent">
		<section class="subpageIntro">
            <h2 class="subpageIntro__index">
                企業理念
            </h2>
		</section>
		<section class="section section--pickup separateSec">
			<div class="wrap">
                <section class="horizontalCard mind">
                    <figure class="horizontalCard__img">
                        <img src="<%- $src %>greeting-mind-mind.jpg" alt="">
                    </figure>
                    <div class="horizontalCard__fill">
                        <h3 class="recruitBlock__copy mind__index">
                            経営理念
                        </h3>
                        <div class="recruitBlock__description mind__content">
                            お客様との信頼関係を築き、「新しい価値を想像して最先端技術に挑戦」し、会社の成長と社員の幸福を実現するとともに社会の発展に貢献する
                        </div>
                    </div>
                </section>
                <section class="horizontalCard mind">
                    <figure class="horizontalCard__img">
                        <img src="<%- $src %>greeting-mind-corpolate.jpg" alt="">
                    </figure>
                    <div class="horizontalCard__fill">
                        <h3 class="recruitBlock__copy mind__index">
                            経営方針
                        </h3>
                        <div class="recruitBlock__description mind__content">
                            <ul>
                                <li>
                                    独自性の高い魅力ある製品で、お客様に満足を提供する。
                                </li>
                                <li>
                                    社員の個性とチャレンジ精神を尊重し、活力ある企業を目指す。
                                </li>
                                <li>
                                    互いの人間性・文化を尊重する。
                                </li>
                                <li>
                                    社会の一員として企業論理を遵守する。
                                </li>
                                <li>
                                    省エネルギー化を目指し、地球環境の保護に貢献する。
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section class="horizontalCard mind">
                    <figure class="horizontalCard__img">
                        <img src="<%- $src %>greeting-mind-knowledge.jpg" alt="">
                    </figure>
                    <div class="horizontalCard__fill">
                        <h3 class="recruitBlock__copy mind__index">
                            知財方針
                        </h3>
                        <div class="recruitBlock__description mind__content">
                            <ul>
                                <li>
                                    独自性の高い魅力ある製品で、お客様に満足を提供する。
                                </li>
                                <li>
                                    社員の個性とチャレンジ精神を尊重し、活力ある企業を目指す。
                                </li>
                                <li>
                                    互いの人間性・文化を尊重する。
                                </li>
                                <li>
                                    社会の一員として企業論理を遵守する。
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
			</div>
            <i class="triangle triangle--right"></i>
		</section>
        <!-- ***** 会社案内 -->
        <section class="section section--message separateSec">
            <div class="wrap">
                <header class="section__index">
                    <h2 class="section__index__text">
                        代表挨拶
                    </h2>
                </header>
                <div class="section__content">
                    <div class="infoContent">
                        <div class="infoContent__text">
                            <p>
                                私たち生産設備メーカーにとっても、求められる技術は日々難易度を増しております。
                            </p>
        
                            <p>
                                市場のニーズに応えるため、私たちはこれまで積み上げてきたノウハウや最新のテクノロジーを活用し、水晶デバイスやセンサーデバイスの小型化・薄型化・高精度化に対応した生産設備の開発や、積極的な最適システムの提案・提供を行います。
                            </p>
        
                            <p>
                                そして「高度な付加価値を創造する企業」を目指し、これからも業界のリーディング・カンパニーとして成長し続けてまいります。
                            </p>
                        </div>
                        <figure class="infoContent__img">
                            <img src="<%- $src %>greeting-greeting-top.jpg" width="460" alt="">
                            <figcaption class="messageContent__img__name">
                                代表取締役　栗原 博
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </section>
        <!-- ///// -->
        <!-- ***** 会社概要 -->
        <section class="section section--profile separateSec">
            <div class="wrap">
                <header class="section__index">
                    <h2 class="section__index__text">
                        会社概要
                    </h2>
                </header>
                <div class="section__content">
                    <section class="innerContent corporateProfile">
                        <section class="corporateProfile__section">
                            <table class="corporateProfile__table">
                                <tr>
                                    <th>
                                        社名
                                    </th>
                                    <td>
                                        アキム株式会社
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        設立
                                    </th>
                                    <td>
                                        1999年10月1日
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        所在地
                                    </th>
                                    <td>
                                        埼玉県東松山市大字宮鼻860-12 <br>
                                        TEL : 0493-35-1140(代) <br>
                                        FAX : 0493-35-1141 <br>
                                        URL : http://www.akim.co.jp
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        代表者
                                    </th>
                                    <td>
                                        代表取締役　栗原　博<br>
                                        専務取締役　今井 祥二郎<br>
                                        取締役　田口 実<br>
                                        監査役　栗原 静子
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        従業員数
                                    </th>
                                    <td>
                                        80名
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        主な事業
                                    </th>
                                    <td>
                                        <ol>
                                            <li>
                                                電子部品自動組立機械の開発、設計
                                            </li>
                                            <li>
                                                ソフトウエアに関する開発、販売
                                            </li>
                                        </ol>
                                    </td>
                                </tr>
                            </table>
                            <figure class="corporateProfile__img">
                                <img src="<%- $src %>greeting-companyinfo-jpn.jpg" width="440" alt="">
                            </figure>
                        </section>
                        <section class="corporateProfile__section">
                            <table class="corporateProfile__table">
                                <tr class="corporateProfile__table__index">
                                    <th colspan="2">
                                        海外拠点
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="2">
                                        中国工場<br>
                                        亚企睦(苏州)自动设备有限公司
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        設立
                                    </th>
                                    <td>
                                        2011年4月1日
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        所在地
                                    </th>
                                    <td>
                                        苏州工业园区苏虹中路39号 <br>
                                        TEL : 0512-6281-8327 <br>
                                        FAX : 0512-6281-8270
                                    </td>
                                </tr>
                            </table>
                            <figure class="corporateProfile__img">
                                 <img src="<%- $src %>greeting-companyinfo-oversea.jpg" width="440" alt="">
                            </figure>
                        </section>
                    </section>
                </div>
            </div>
            <i class="triangle triangle--left"></i>
            <i class="triangle triangle--right"></i>
        </section>
        <!-- ///// -->
        <!-- ***** 社名の由来 -->
        <section class="section section--message separateSec">
            <div class="wrap">
                <header class="section__index">
                    <h2 class="section__index__text">
                        社名の由来
                    </h2>
                </header>
                <div class="section__content">
                    <div class="infoContent">
                        <div class="infoContent__text">
                            <p>
                                創業者3名のイニシャル「K」「I」「M」をベースに、戦国時代の武将、毛利元就が3人の息子に結束を訴えた『3本の矢(Arrow)』のエピソードから「A」を先頭に加えて『AKIM』と命名しました。
                            </p>
                            
                            <p>
                                コーポレートマークは三本の矢が一つの頂点を目指して結束する姿を表現しています。
                            </p>
                            
                            <p>
                                全社員で力をあわせ、常にリーディングカンパニーであり続けたいという決意の表れです。
                            </p>
                        </div>
                        <figure class="infoContent__img">
                            <img src="<%- $src %>greeting-name-logo.jpg" width="460" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </section>
        <!-- ///// -->
        <!-- ***** 沿革 -->
        <section class="section section--history separateSec">
            <div class="wrap">
                <header class="section__index">
                    <h2 class="section__index__text">
                        沿革
                    </h2>
                </header>
                <div class="section__content">
                    <section class="innerContent ">
                        <div class="historyTl">
                            <ul class="historyTl__events">
                                <li class="historyTl__event">
                                    <div class="historyTl__event__heading">
                                        <i class="historyTl__event__marker"></i>
                                        <i class="historyTl__event__line"></i>
                                        <span class="historyTl__event__y">1999</span>
                                    </div>
                                    <div class="historyTl__event__content">
                                        <p>アキム株式会社設立</p>

                                    </div>
                                </li>
                                <li class="historyTl__event">
                                    <div class="historyTl__event__heading">
                                        <i class="historyTl__event__marker"></i>
                                        <i class="historyTl__event__line"></i>
                                        <span class="historyTl__event__y">2000</span>
                                    </div>
                                    <div class="historyTl__event__content">
                                        <p>水晶関連設備の開発、販売開始</p>
                                        <!-- <div class="historyTl__event__imgs">
                                            <figure>
                                                <img src="<%- $src %>greeting-history-sample.jpg" width="80" alt="">
                                            </figure>
                                        </div> -->

                                    </div>
                                </li>
                                <li class="historyTl__event">
                                    <div class="historyTl__event__heading">
                                        <i class="historyTl__event__marker"></i>
                                        <i class="historyTl__event__line"></i>
                                        <span class="historyTl__event__y">2001</span>
                                    </div>
                                    <div class="historyTl__event__content">
                                        <p>埼玉県創造活動促進法認定<br>海外メーカー(台湾、韓国他)への販売開始</p>
                                    </div>
                                </li>
                                <li class="historyTl__event">
                                    <div class="historyTl__event__heading">
                                        <i class="historyTl__event__marker"></i>
                                        <i class="historyTl__event__line"></i>
                                        <span class="historyTl__event__y">2002</span>
                                    </div>
                                    <div class="historyTl__event__content">
                                        <p>温度特性検査装置を開発<br>高速リッド溶接装置を開発</p>
                                    </div>
                                </li>
                                <li class="historyTl__event">
                                    <div class="historyTl__event__heading">
                                        <i class="historyTl__event__marker"></i>
                                        <i class="historyTl__event__line"></i>
                                        <span class="historyTl__event__y">2003</span>
                                    </div>
                                    <div class="historyTl__event__content">
                                        <p>車載センサ用温度特性検査装置を開発</p>
                                    </div>
                                </li>
                                <li class="historyTl__event">
                                    <div class="historyTl__event__heading">
                                        <i class="historyTl__event__marker"></i>
                                        <i class="historyTl__event__line"></i>
                                        <span class="historyTl__event__y">2004</span>
                                    </div>
                                    <div class="historyTl__event__content">
                                        <p>車載センサ用ダイボンダを開発</p>
                                    </div>
                                </li>
                                <li class="historyTl__event">
                                    <div class="historyTl__event__heading">
                                        <i class="historyTl__event__marker"></i>
                                        <i class="historyTl__event__line"></i>
                                        <span class="historyTl__event__y">2007</span>
                                    </div>
                                    <div class="historyTl__event__content">
                                        <p>知的財産総合支援センター埼玉の支援対象企業に<br>認定・ 水晶デバイス高速検査装置の開発</p>
                                    </div>
                                </li>
                                <li class="historyTl__event">
                                    <div class="historyTl__event__heading">
                                        <i class="historyTl__event__marker"></i>
                                        <i class="historyTl__event__line"></i>
                                        <span class="historyTl__event__y">2008</span>
                                    </div>
                                    <div class="historyTl__event__content">
                                        <p>真空シーム溶接装置の開発</p>
                                    </div>
                                </li>
                                <li class="historyTl__event">
                                    <div class="historyTl__event__heading">
                                        <i class="historyTl__event__marker"></i>
                                        <i class="historyTl__event__line"></i>
                                        <span class="historyTl__event__y">2009</span>
                                    </div>
                                    <div class="historyTl__event__content">
                                        <p>水晶振動子 高速システムの開発、販売開始<br>彩の国産業技術大賞 特別賞受賞<br>(車載用加速度センサ温度特性検査装置)</p>
                                    </div>
                                </li>
                                <li class="historyTl__event">
                                    <div class="historyTl__event__heading">
                                        <i class="historyTl__event__marker"></i>
                                        <i class="historyTl__event__line"></i>
                                        <span class="historyTl__event__y">2010</span>
                                    </div>
                                    <div class="historyTl__event__content">
                                        <p>埼玉県中小企業振興公社より、公社事業モデル企業<br>表彰を受賞・彩の国産業技術大賞<br>特別賞受賞(真空シーム溶接装置)</p>
                                    </div>
                                </li>
                                <li class="historyTl__event">
                                    <div class="historyTl__event__heading">
                                        <i class="historyTl__event__marker"></i>
                                        <i class="historyTl__event__line"></i>
                                        <span class="historyTl__event__y">2011</span>
                                    </div>
                                    <div class="historyTl__event__content">
                                        <p>フリップチップボンダの開発<br>亜企睦自動設備有限公司設立(中国江蘇省蘇州市) <br>渋沢栄一ビジネス大賞 特別賞受賞<br>(音叉型水晶振動子高速検査・テーピング装置)</p>
                                    </div>
                                </li>
                                <li class="historyTl__event">
                                    <div class="historyTl__event__heading">
                                        <i class="historyTl__event__marker"></i>
                                        <i class="historyTl__event__line"></i>
                                        <span class="historyTl__event__y">2012</span>
                                    </div>
                                    <div class="historyTl__event__content">
                                        <p>渋沢栄一ビジネス大賞 テクノロジー部門大賞受賞<br>(シームリング接着搭載装置)</p>
                                    </div>
                                </li>
                                <li class="historyTl__event">
                                    <div class="historyTl__event__heading">
                                        <i class="historyTl__event__marker"></i>
                                        <i class="historyTl__event__line"></i>
                                        <span class="historyTl__event__y">2013</span>
                                    </div>
                                    <div class="historyTl__event__content">
                                        <p>CMOSカメラモジュールアクティブ アライメント<br>
                                        装置の開発<br>
                                        九都県市のきらりと光る産業技術 埼玉県代表表彰</p>
                                    </div>
                                </li>
                                <li class="historyTl__event">
                                    <div class="historyTl__event__heading">
                                        <i class="historyTl__event__marker"></i>
                                        <i class="historyTl__event__line"></i>
                                        <span class="historyTl__event__y">2014</span>
                                    </div>
                                    <div class="historyTl__event__content">
                                        <p>高精度ICダイボンダーの開発</p>
                                    </div>
                                </li>
                                <li class="historyTl__event">
                                    <div class="historyTl__event__heading">
                                        <i class="historyTl__event__marker"></i>
                                        <i class="historyTl__event__line"></i>
                                        <span class="historyTl__event__y">2015</span>
                                    </div>
                                    <div class="historyTl__event__content">
                                        <p>高速レンズ組立装置の開発</p>
                                    </div>
                                </li>
                                <li class="historyTl__event">
                                    <div class="historyTl__event__heading">
                                        <i class="historyTl__event__marker"></i>
                                        <i class="historyTl__event__line"></i>
                                        <span class="historyTl__event__y">2016</span>
                                    </div>
                                    <div class="historyTl__event__content">
                                        <p>高速CMOSカメラモジュールアクティブ アライメント<br>装置の開発・PZT高精度搭載装置の開発</p>
                                    </div>
                                </li>
                                <li class="historyTl__event">
                                    <div class="historyTl__event__heading">
                                        <i class="historyTl__event__marker"></i>
                                        <i class="historyTl__event__line"></i>
                                        <span class="historyTl__event__y">2017</span>
                                    </div>
                                    <div class="historyTl__event__content">
                                        <p>サーミスタ水晶振動子ラインの開発</p>
                                    </div>
                                </li>
                                <li class="historyTl__event">
                                    <div class="historyTl__event__heading">
                                        <i class="historyTl__event__marker"></i>
                                        <i class="historyTl__event__line"></i>
                                        <span class="historyTl__event__y">2018</span>
                                    </div>
                                    <div class="historyTl__event__content">
                                        <p>車載用コネクタピン挿入装置の開発</p>
                                    </div>
                                </li>
                            </ul>
                            <i class="historyTl__line"></i>
                        </div>
                    </section>
                </div>
            </div>
            <i class="triangle triangle--left"></i>
            <i class="triangle triangle--right"></i>
        </section>
        <!-- ///// -->
	</main>
		
	<%- include( '_include/footer.ejs' ); %>
</body>
</html>