<% 
	include( '_include/_function.ejs' );
	$active = 'products';
	$css = ['<link rel="stylesheet" href="/css/products.min.css" />'];
	$src = '/img/products/';
%>
<!DOCTYPE html>
<html>
<head>
	<%- include( '_include/head.ejs' ); %>
</head>
<body class="page page--recruit">
	<%- include( '_include/header.ejs' ); %>
	<!-- ***** mv -->
	<section class="subpageMv js-effect">
		<div class="wrap">
			<h1 class="subpageMv__copy">
                <span class="mask"><span class="mask__element">製品紹介</span></span>
			</h1>
		</div>
	</section>
	<!-- ///// -->
	<div class="breadcrumbSection">
		<div class="wrap">
			<ul class="breadcrumb">
				<li><a href="">TOP</a></li>
				<li><a href="">製品紹介</a></li>
			</ul>
		</div>
	</div>
	<main class="mainContent">
        <section class="subpageIntro">
            <div class="wrap">
                <strong>社会のニーズとお客さまのご要望を的確に、確実に具現化してきた、水晶関連装置・センサ関連装置・その他関連装置をご紹介します。</strong>
            </div>
        </section>
        <!-- ***** 製品カテゴリ -->
        <section class="section section--products separateSec">
            <div class="wrap">
                <section class="section__child">
					<%- include( '_include/_module-products' ); %>
				</section>
				<section class="section__child">
					<ul class="productBanner">
						<li class="productBanner__item">
							<a href="">
								<div class="button button-secondary">
									<span>
										<header class="productBanner__item__index">
											高速生産ライン
										</header>
										<p class="productBanner__item__description">
											タクト0.6secを実現
										</p>
									</span>
								</div>
								<figure class="productBanner__item__img">
									<img src="<%- $src %>link-line.jpg" alt="">
								</figure>
							</a>
						</li>
						<li class="productBanner__item productBanner--movie">
							<a href="">
								<div class="button button-secondary">
									<span>
										<header class="productBanner__item__index">
											MOVIE
										</header>
										<p class="productBanner__item__description">
											Akimの機械技術を一部紹介
										</p>
									</span>
								</div>
								<figure class="productBanner__item__img">
									<img src="<%- $src %>link-movie.jpg" alt="">
								</figure>
								<i class="icon--play"></i>
							</a>
						</li>
					</ul>
				</section>
            </div>
            <i class="triangle triangle--right"></i>
        </section>
        <!-- /////  -->
       
	</main>
		
	<%- include( '_include/footer.ejs' ); %>
</body>
</html>