<% 
	include( '_include/_function.ejs' );
	$active = 'products';
	$css = ['<link rel="stylesheet" href="/css/products.min.css" />'];
	$src = '/img/products/';
%>
<!DOCTYPE html>
<html>
<head>
	<%- include( '_include/head.ejs' ); %>
</head>
<body class="page page--products:">
	<%- include( '_include/header.ejs' ); %>
	<!-- ***** mv -->
	<section class="subpageMv js-effect">
		<div class="wrap">
			<h1 class="subpageMv__copy">
                <span class="mask"><span class="mask__element">小型水晶振動子生産設備</span></span>
			</h1>
		</div>
	</section>
	<!-- ///// -->
	<div class="breadcrumbSection">
		<div class="wrap">
			<ul class="breadcrumb">
				<li><a href="">TOP</a></li>
				<li><a href="">製品紹介</a></li>
				<li><a href="">小型水晶振動子生産設備</a></li>
			</ul>
		</div>
	</div>
	<main class="mainContent">

        <!-- ***** 製品一覧 -->
        <section class="section section--items">
            <div class="wrap">
               <ul class="itemList">
				<li class="itemList__item">
					<figure class="itemList__item__img">
						<img src="<%- $src %>productimg-tcxo.png" alt="">
					</figure>
					<div class="itemList__item__content">
						<h2 class="itemList__item__index">
							高精度ツインヘッドダイボンダ
						</h2>
						<div class="itemList__item__detail">
							<ul class="itemList__item__benefit">
								<li class="itemList__item__benefit__item">
									フレーム搬送にリニア駆動を採用し、高精度なフレーム搬送を可能としました。
								</li>
								<li class="itemList__item__benefit__item">
									フレーム搬送にリニア駆動を採用し、高精度なフレーム搬送を可能としました。
								</li>
								<li class="itemList__item__benefit__item">
									フレーム搬送にリニア駆動を採用し、高精度なフレーム搬送を可能としました。
								</li>
								<li class="itemList__item__benefit__item">
									フレーム搬送にリニア駆動を採用し、高精度なフレーム搬送を可能としました。
								</li>
								<li class="itemList__item__benefit__item">
									フレーム搬送にリニア駆動を採用し、高精度なフレーム搬送を可能としました。
								</li>
							</ul>
				
						</div>
						<div class="button"><a href="/products-single.html">詳細</a></div>
					</div>
				</li>
				<li class="itemList__item">
					<figure class="itemList__item__img">
						<img src="<%- $src %>productimg-tcxo.png" alt="">
					</figure>
					<div class="itemList__item__content">
						<h2 class="itemList__item__index">
							高精度ツインヘッドダイボンダ
						</h2>
						<div class="itemList__item__detail">
							<ul class="itemList__item__benefit">
								<li class="itemList__item__benefit__item">
									フレーム搬送にリニア駆動を採用し、高精度なフレーム搬送を可能としました。
								</li>
								<li class="itemList__item__benefit__item">
									フレーム搬送にリニア駆動を採用し、高精度なフレーム搬送を可能としました。
								</li>
								<li class="itemList__item__benefit__item">
									フレーム搬送にリニア駆動を採用し、高精度なフレーム搬送を可能としました。
								</li>
								<li class="itemList__item__benefit__item">
									フレーム搬送にリニア駆動を採用し、高精度なフレーム搬送を可能としました。
								</li>
								<li class="itemList__item__benefit__item">
									フレーム搬送にリニア駆動を採用し、高精度なフレーム搬送を可能としました。
								</li>
							</ul>
				
						</div>
						<div class="button"><a href="/products-single.html">詳細</a></div>
					</div>
				</li>
				<li class="itemList__item">
					<figure class="itemList__item__img">
						<img src="<%- $src %>productimg-tcxo.png" alt="">
					</figure>
					<div class="itemList__item__content">
						<h2 class="itemList__item__index">
							高精度ツインヘッドダイボンダ
						</h2>
						<div class="itemList__item__detail">
							<ul class="itemList__item__benefit">
								<li class="itemList__item__benefit__item">
									フレーム搬送にリニア駆動を採用し、高精度なフレーム搬送を可能としました。
								</li>
								<li class="itemList__item__benefit__item">
									フレーム搬送にリニア駆動を採用し、高精度なフレーム搬送を可能としました。
								</li>
								<li class="itemList__item__benefit__item">
									フレーム搬送にリニア駆動を採用し、高精度なフレーム搬送を可能としました。
								</li>
								<li class="itemList__item__benefit__item">
									フレーム搬送にリニア駆動を採用し、高精度なフレーム搬送を可能としました。
								</li>
								<li class="itemList__item__benefit__item">
									フレーム搬送にリニア駆動を採用し、高精度なフレーム搬送を可能としました。
								</li>
							</ul>
				
						</div>
						<div class="button"><a href="/products-single.html">詳細</a></div>
					</div>
				</li>
				<li class="itemList__item">
					<figure class="itemList__item__img">
						<img src="<%- $src %>productimg-tcxo.png" alt="">
					</figure>
					<div class="itemList__item__content">
						<h2 class="itemList__item__index">
							高精度ツインヘッドダイボンダ
						</h2>
						<div class="itemList__item__detail">
							<ul class="itemList__item__benefit">
								<li class="itemList__item__benefit__item">
									フレーム搬送にリニア駆動を採用し、高精度なフレーム搬送を可能としました。
								</li>
								<li class="itemList__item__benefit__item">
									フレーム搬送にリニア駆動を採用し、高精度なフレーム搬送を可能としました。
								</li>
								<li class="itemList__item__benefit__item">
									フレーム搬送にリニア駆動を採用し、高精度なフレーム搬送を可能としました。
								</li>
								<li class="itemList__item__benefit__item">
									フレーム搬送にリニア駆動を採用し、高精度なフレーム搬送を可能としました。
								</li>
								<li class="itemList__item__benefit__item">
									フレーム搬送にリニア駆動を採用し、高精度なフレーム搬送を可能としました。
								</li>
							</ul>
				
						</div>
						<div class="button"><a href="/products-single.html">詳細</a></div>
					</div>
				</li>
				<li class="itemList__item">
					<figure class="itemList__item__img">
						<img src="<%- $src %>productimg-tcxo.png" alt="">
					</figure>
					<div class="itemList__item__content">
						<h2 class="itemList__item__index">
							高精度ツインヘッドダイボンダ
						</h2>
						<div class="itemList__item__detail">
							<ul class="itemList__item__benefit">
								<li class="itemList__item__benefit__item">
									フレーム搬送にリニア駆動を採用し、高精度なフレーム搬送を可能としました。
								</li>
								<li class="itemList__item__benefit__item">
									フレーム搬送にリニア駆動を採用し、高精度なフレーム搬送を可能としました。
								</li>
								<li class="itemList__item__benefit__item">
									フレーム搬送にリニア駆動を採用し、高精度なフレーム搬送を可能としました。
								</li>
								<li class="itemList__item__benefit__item">
									フレーム搬送にリニア駆動を採用し、高精度なフレーム搬送を可能としました。
								</li>
								<li class="itemList__item__benefit__item">
									フレーム搬送にリニア駆動を採用し、高精度なフレーム搬送を可能としました。
								</li>
							</ul>
				
						</div>
						<div class="button"><a href="/products-single.html">詳細</a></div>
					</div>
				</li>
			   </ul>
            </div>
        </section>
        <!-- /////  -->
		<!-- *****　リンク -->
		<section class="section section--banner">
			<div class="wrap">
				<ul class="productBanner productBanner--main">
					<li class="productBanner__item">
						<a href="/products-hightspeedline.html">
							<div class="button button-secondary">
								<span>
									<header class="productBanner__item__index">
										高速生産ライン
									</header>
									<p class="productBanner__item__description">
										タクト0.6secを実現
									</p>
								</span>
							</div>
							<figure class="productBanner__item__img">
								<img src="<%- $src %>detail-link-line.jpg" srcset="<%- $src %>link-line.jpg 480w, 
								<%- $src %>detail-link-line.jpg" alt="">
							</figure>
						</a>
					</li>
				</ul>
				<ul class="productBanner relatedProduct">
					<li class="productBanner__item relatedProduct__item">
						<a href="">							
							<figure class="relatedProduct__item__img">
								<img src="<%- $src %>detail-link-sample.jpg" alt="">
							</figure>
							<div class="button">
								<span>水晶振動子外観・構造</span>
							</div>
						</a>
					</li>
					<li class="productBanner__item relatedProduct__item">
						<a href="">							
							<figure class="relatedProduct__item__img">
								<img src="<%- $src %>detail-link-sample.jpg" alt="">
							</figure>
							<div class="button">
								<span>トレイ・クランプキャリア</span>
							</div>
						</a>
					</li>
				</ul>
			</div>
			
            <i class="triangle triangle--left"></i>
            <i class="triangle triangle--right"></i>
		</section>

		<!-- \///// -->
       
	</main>
		
	<%- include( '_include/footer.ejs' ); %>
</body>
</html>