
<% $path_productItem = '/img/product/productimg' %>
<ul class="productsNav">
	<li class="productsNav__catname">水晶関連</li>
	<li class="productsNav__catname">電子部品関連</li>
	<li class="productsNav__catname">センサ関連</li>
	<li class="productsNav__catname">その他</li>
</ul>
<ul class="productList">
	<li class="productList__item">
		<figure><img src="<%- $path_productItem %>-kogata.png" alt=""></figure>
		<header class="productList__item__index">
			<p class="productList__item__name">
				小型水晶振動子生産設備
			</p>
			<p class="productList__item__lot"><span>12</span>商品</p>
		</header>
		<div class="button"><a href="">詳細</a></div>
	</li>
	<li class="productList__item">
		<figure><img src="<%- $path_productItem %>-tcxo.png" alt=""></figure>
		<header class="productList__item__index">
			<p class="productList__item__name">
				TCXO生産設備
			</p>
			<p class="productList__item__lot"><span>6</span>商品</p>
		</header>
		<div class="button"><a href="">詳細</a></div>
	</li>
	<li class="productList__item">
		<figure><img src="<%- $path_productItem %>-onsa.png" alt=""></figure>
		<header class="productList__item__index">
			<p class="productList__item__name">
				音叉型水晶振動子生産設備
			</p>
			<p class="productList__item__lot"><span>3</span>商品</p>
		</header>
		<div class="button"><a href="">詳細</a></div>
	</li>
	<li class="productList__item">
		<figure><img src="<%- $path_productItem %>-samista.png" alt=""></figure>
		<header class="productList__item__index">
			<p class="productList__item__name">
				サーミスタ水晶振動子生産設備
			</p>
			<p class="productList__item__lot"><span>3</span>商品</p>
		</header>
		<div class="button"><a href="">詳細</a></div>
	</li>
	<li class="productList__item">
		<figure><img src="<%- $path_productItem %>-sensor.png" alt=""></figure>
		<header class="productList__item__index">
			<p class="productList__item__name">
				センサデバイス生産設備
			</p>
			<p class="productList__item__lot"><span>12</span>商品</p>
		</header>
		<div class="button"><a href="">詳細</a></div>
	</li>
	<li class="productList__item">
		<figure><img src="<%- $path_productItem %>-handotai.png" alt=""></figure>
		<header class="productList__item__index">
			<p class="productList__item__name">
				半導体関連設備
			</p>
			<p class="productList__item__lot"><span>6</span>商品</p>
		</header>
		<div class="button"><a href="">詳細</a></div>
	</li>
	<li class="productList__item">
		<figure><img src="<%- $path_productItem %>-lenz.png" alt=""></figure>
		<header class="productList__item__index">
			<p class="productList__item__name">
				レンズ組立装置
			</p>
			<p class="productList__item__lot"><span>3</span>商品</p>
		</header>
		<div class="button"><a href="">詳細</a></div>
	</li>
	<li class="productList__item">
		<figure><img src="<%- $path_productItem %>-cameramodule.png" alt=""></figure>
		<header class="productList__item__index">
			<p class="productList__item__name">
				カメラモジュール関連設備
			</p>
			<p class="productList__item__lot"><span>3</span>商品</p>
		</header>
		<div class="button"><a href="">詳細</a></div>
	</li>
</ul>